Django==5.1.5
djangorestframework==3.16.1
django-cors-headers==4.9.0
psycopg2-binary==2.9.11
python-decouple==3.8
sentence-transformers
torch
scikit-learn
numpy
whitenoise==6.6.0
dj-database-url==2.1.0
gunicorn==21.2.0